<%- include('inc/header', { title, refresh }); %>
<ul>
    <% for(const route of routes){ %>
        <li class="route">
            <%= route.path %>
        </li>
    <% } %>
</ul>
<%- include('inc/footer'); %>
