<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% for(const route of routes){ %>
            <li class="route">

            </li>
        <% } %>
    </ul>
</body>
</html>
