<%- include('inc/header', { title, refresh }); %>
<ul>
    <% for(const command of commands){ %>
        <li class="command">
            <%= command %>
        </li>
    <% } %>
</ul>
<%- include('inc/footer'); %>
