<%- include('inc/header', { title, refresh }); %>
<ul>
    <% for(const type of ['users','channels','guilds']){ %>
        <li><a href="/dashboard/list/<%= type %>"><%= type %></a></li>
    <% } %>
</ul>
<%- include('inc/footer'); %>
