<%- include('inc/header', { title, refresh }); %>
<% if(debug){ %>
    <% const stack = error.stack.split(/\sat\s/) %>
    <ol>
        <% for(const at of stack){ %>
            <li> <%= at %> </li>
        <% } %>
    </ol>
<% } %>
<%- include('inc/footer') %>

