
.cols {
  display: flex;
}

.cols > * {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.cols > * > * {
  display: block;
  padding: 20px;
  margin: 20px;
  border: 2px solid var(--blue);
  background-color: var(--black);
}

.cols > * > *:hover {
  border: 2px solid var(--blue-hover);
  background-color: var(--trans-light);
}

.cols > *:first-child {
  justify-items: left;
}

.cols > *:last-child {
  justify-items: right;
}