
* {
  border: 0;
  padding: 0;
  margin: 0;
}

ul, ol, li {
  list-style: circle;
}

a {
  color: #4a9eff;
  text-decoration: none;
}
a:hover {
  color: #8fdfff;
}

body {
  font-family: "Source Code Pro", sans-serif;
  background-color: #14171a;
  color: #d8fff3;
  padding-top: 40px;
}

h1, h2, p, ul, ol {
  padding: 10px 50px;
}

li {
  margin-left: 20px;
}